<div class="column-layout trader-app-v-2">
  <div class="row-layout group">
    <igx-nav-drawer [pin]="true" [pinThreshold]="1024" width="68px" class="nav-drawer">
      <ng-template igxDrawerMini>
        <div igxDrawerItem igxRipple class="nav-drawer-item">
          <igx-icon class="icon">
            dashboard
          </igx-icon>
        </div>
        <div igxDrawerItem igxRipple class="nav-drawer-item">
          <igx-icon class="icon_1">
            poll
          </igx-icon>
        </div>
      </ng-template>
      <ng-template igxDrawer>
        <div igxDrawerItem igxRipple class="nav-drawer-item">
          <igx-icon class="icon">
            dashboard
          </igx-icon>
          <span>Title goes here</span>
        </div>
        <div igxDrawerItem igxRipple class="nav-drawer-item">
          <igx-icon class="icon_2">
            poll
          </igx-icon>
          <span>Title goes here</span>
        </div>
        <div igxDrawerItem igxRipple class="nav-drawer-item">
          <igx-icon class="icon">
            history
          </igx-icon>
          <span>Title goes here</span>
        </div>
        <div igxDrawerItem igxRipple class="nav-drawer-item">
          <igx-icon class="icon">
            trending_up
          </igx-icon>
          <span>Title goes here</span>
        </div>
      </ng-template>
    </igx-nav-drawer>
    <div class="row-layout frame-17">
      <div class="row-layout group_1"></div>
    </div>
  </div>
</div>
