<div class="column-layout trader-app-v-2">
  <div class="row-layout group">
    <igx-nav-drawer [pin]="true" [pinThreshold]="1024" width="68px" class="nav-drawer">
      <ng-template igxDrawerMini>
        <div igxDrawerItem igxRipple class="nav-drawer-item">
          <igx-icon class="icon">
            dashboard
          </igx-icon>
        </div>
        <div igxDrawerItem igxRipple class="nav-drawer-item">
          <igx-icon class="icon_1">
            poll
          </igx-icon>
        </div>
      </ng-template>
      <ng-template igxDrawer>
        <div igxDrawerItem igxRipple class="nav-drawer-item">
          <igx-icon class="icon">
            dashboard
          </igx-icon>
          <span>Title goes here</span>
        </div>
        <div igxDrawerItem igxRipple class="nav-drawer-item">
          <igx-icon class="icon_2">
            poll
          </igx-icon>
          <span>Title goes here</span>
        </div>
        <div igxDrawerItem igxRipple class="nav-drawer-item">
          <igx-icon class="icon">
            history
          </igx-icon>
          <span>Title goes here</span>
        </div>
        <div igxDrawerItem igxRipple class="nav-drawer-item">
          <igx-icon class="icon">
            trending_up
          </igx-icon>
          <span>Title goes here</span>
        </div>
      </ng-template>
    </igx-nav-drawer>
    <div class="row-layout frame-17">
      <div class="row-layout group_1">
        <div class="column-layout frame-23">
          <div class="row-layout frame-22">
            <div class="column-layout frame-21">
              <div class="column-layout frame-20">
                <div class="row-layout frame-19">
                  <p class="ig-typography__overline content">
                    AMZN
                  </p>
                  <p class="ig-typography__caption text">
                    ∙
                  </p>
                  <p class="ig-typography__overline content">
                    NASDAQ
                  </p>
                </div>
                <h5 class="content">
                  Amazon.com, Inc.
                </h5>
              </div>
              <div class="row-layout frame-14">
                <h3 class="content">
                  106.96
                </h3>
                <div class="row-layout frame-13">
                  <h6 class="content_2">
                    +3.15
                  </h6>
                  <h6 class="content_2">
                    (+ 3.03%)
                  </h6>
                </div>
              </div>
              <div class="column-layout frame-20">
                <div class="row-layout frame-16">
                  <p class="content">
                    After Hours:
                  </p>
                  <p class="ig-typography__subtitle-1 content">
                    $107.15
                  </p>
                  <p class="ig-typography__subtitle-1 content_2">
                    (+ 0.21%)
                  </p>
                  <p class="ig-typography__subtitle-1 content_2">
                    +0.22
                  </p>
                </div>
                <div class="row-layout frame-15">
                  <p class="ig-typography__body-2 content">
                    Closed:
                  </p>
                  <p class="ig-typography__body-2 content">
                    Apr 21, 6:19:43 PM UTC-4
                  </p>
                  <p class="ig-typography__caption content">
                    ∙
                  </p>
                  <p class="ig-typography__body-2 content">
                    NASDAQ
                  </p>
                  <p class="ig-typography__body-2 content">
                    ∙
                  </p>
                  <a href="url" target="_blank" class="ig-typography__body-1 hyperlink">
                    Disclaimer
                  </a>
                </div>
              </div>
            </div>
            <div class="row-layout frame-12">
              <div class="column-layout frame-11">
                <div class="row-layout frame-10">
                  <p class="ig-typography__caption subtitle-14">
                    PREVIOUS CLOSE
                  </p>
                  <p class="ig-typography__caption subtitle-15">
                    $103.81
                  </p>
                </div>
                <div class="row-layout frame-10">
                  <p class="ig-typography__caption subtitle-14">
                    DAY RANGE
                  </p>
                  <p class="ig-typography__caption subtitle-15">
                    $103.81
                  </p>
                </div>
                <div class="row-layout frame-10">
                  <p class="ig-typography__caption subtitle-14">
                    YEAR RANGE
                  </p>
                  <p class="ig-typography__caption subtitle-15">
                    $103.81
                  </p>
                </div>
                <div class="row-layout frame-10">
                  <p class="ig-typography__caption subtitle-14">
                    MARKET CAP
                  </p>
                  <p class="ig-typography__caption subtitle-15">
                    $103.81
                  </p>
                </div>
              </div>
              <div class="column-layout frame-11">
                <div class="row-layout frame-10">
                  <p class="ig-typography__caption subtitle-14">
                    AVG VOLUME
                  </p>
                  <p class="ig-typography__caption subtitle-15">
                    $103.81
                  </p>
                </div>
                <div class="row-layout frame-10">
                  <p class="ig-typography__caption subtitle-14">
                    P/E RATIO
                  </p>
                  <p class="ig-typography__caption subtitle-15">
                    $103.81
                  </p>
                </div>
                <div class="row-layout frame-10">
                  <p class="ig-typography__caption subtitle-14">
                    DIVIDEND YIELD
                  </p>
                  <p class="ig-typography__caption subtitle-15">
                    $103.81
                  </p>
                </div>
                <div class="row-layout frame-10">
                  <p class="ig-typography__caption subtitle-14">
                    PRIMARY EXCHANGE
                  </p>
                  <p class="ig-typography__caption subtitle-15">
                    NASDAQ
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="column-layout frame-1">
            <igx-category-chart [dataSource]="financialBoxOfficeRevenue" chartType="line" computedPlotAreaMarginMode="series" class="category-chart"></igx-category-chart>
          </div>
          <div class="row-layout frame"></div>
        </div>
      </div>
    </div>
  </div>
</div>
