:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.trader-app-v-2 {
  background-color: rgba(29, 29, 29, 1);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: hidden;
  position: relative;
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}
.frame-17 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 32px;
  position: relative;
  padding: 32px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 32px;
  position: relative;
  min-width: 1200px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.frame-23 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  position: relative;
  margin: 15px;
  padding: 15px;
  flex-grow: 1;
  flex-basis: 0;
}
.frame-22 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  gap: 24px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame-21 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  flex-grow: 1;
  flex-basis: 0px;
}
.frame-20 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
}
.frame-19 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 4px;
  position: relative;
}
.frame-14 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
  position: relative;
}
.frame-13 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  position: relative;
  padding: 10px;
}
.frame-16 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.frame-15 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 4px;
  position: relative;
}
.frame-12 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0;
}
.frame-11 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0px;
}
.frame-10 {
  border-color: rgba(255, 255, 255, 0.10000000149011612);
  border-width: 1px;
  border-style: solid;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 10px 16px;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0px;
}
.frame-1 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0px;
}
.frame {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  gap: 16px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.nav-drawer {
  min-width: min-content;
  align-self: stretch;
  flex-shrink: 0;
}
.nav-drawer-item {
  position: relative;
  min-width: 0;
  min-height: 0;
}
.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--ig-gray-700));
}
.icon_1 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--ig-gray-900));
}
.icon_2 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--ig-primary-500));
}
.content {
  color: #FFFFFFFF;
  position: relative;
}
.text {
  color: #FFFFFFB2;
  position: relative;
}
.content_2 {
  color: hsla(var(--ig-success-500));
  position: relative;
}
.hyperlink {
  color: hsla(var(--ig-info-500));
  cursor: pointer;
  position: relative;
}
.subtitle-14 {
  color: hsla(var(--ig-gray-400));
  position: relative;
}
.subtitle-15 {
  text-align: center;
  color: #FFFFFFFF;
  position: relative;
}
.category-chart {
  position: relative;
  min-height: 350px;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0px;
}
