<igx-tabs [disableAnimation]="true" class="tabs">
  <igx-tab-item [selected]="true" class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>settings_input_antenna</igx-icon>
      <span igxTabHeaderLabel>Current Price</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <!-- <div class="row-layout group"> -->
        <div *ngIf="selectedItem"  class="row-layout group">
        <div class="column-layout frame-45">
          <div class="column-layout frame-50">
            <div class="row-layout frame-49">
              <div class="column-layout frame-48">
                <div class="column-layout frame-47">
                  <div class="row-layout frame-46">
                    <p class="ig-typography__overline content">
                      {{ selectedItem.stock_symbol }}
                    </p>
                    <p class="ig-typography__caption text">
                      ∙
                    </p>
                    <p class="ig-typography__overline content">
                      {{ selectedItem.stock_market }}
                    </p>
                  </div>
                  <h5 class="content">
                    {{ selectedItem.stock_name }}
                  </h5>
                </div>
                <div class="row-layout frame-41">
                  <h3 class="content">
                    {{ selectedItem.previous_close }}
                  </h3>
                </div>
                <div class="column-layout frame-47">
                  <div class="row-layout frame-43">
                    <p class="content">
                      Sector
                    </p>
                    <p class="ig-typography__caption content">
                      ∙
                    </p>
                    <p class="ig-typography__subtitle-1 content">
                      {{ selectedItem.stock_sector }}
                    </p>
                  </div>
                  <div class="row-layout frame-42">
                    <p class="ig-typography__body-2 content">
                      Industry
                    </p>
                    <p class="ig-typography__caption content">
                      ∙
                    </p>
                    <p class="ig-typography__body-2 content">
                      {{ selectedItem.stock_industry }}
                    </p>
                    <p class="ig-typography__body-2 content">
                      
                    </p>
                  </div>
                </div>
              </div>
              <div class="row-layout frame-39">
                <div class="column-layout frame-38">
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      PREVIOUS CLOSE
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      {{ selectedItem.previous_close }}
                    </p>
                  </div>
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      DAY RANGE
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      {{ selectedItem.day_range }}
                    </p>
                  </div>
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      YEAR RANGE
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      {{ selectedItem.year_range }}
                    </p>
                  </div>
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      MARKET CAP
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      {{ selectedItem.stock_market_cap }}
                    </p>
                  </div>
                </div>
                <div class="column-layout frame-38">
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      AVG VOLUME
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      {{ selectedItem.avg_volume }}
                    </p>
                  </div>
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      P/E RATIO
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      {{ selectedItem.pe_ratio }}
                    </p>
                  </div>
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      DIVIDEND YIELD
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      {{ selectedItem.dividend_yield }}
                    </p>
                  </div>
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      EXCHANGE
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      {{ selectedItem.stock_market }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="column-layout frame-28">

              <div class="category-chart chart">
                <igx-financial-chart #chart
                  [dataSource]="dataSource"
                  height="100%" width="100%"
                  chartType="Candle"
                  zoomSliderType="None"
                  subtitle=""
                  subtitleTopMargin="10"
                  isWindowSyncedToVisibleRange="true">
                </igx-financial-chart>
            </div>
            
            </div>
          </div>
        </div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>assignment_late</igx-icon>
      <span igxTabHeaderLabel>Latest News</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <div *ngIf="selectedItem" class="column-layout frame-45">
        <div class="row-layout frame-49">
          <div class="column-layout frame-48">
            <div class="column-layout frame-47">
              <div class="row-layout frame-46">
                <p class="ig-typography__overline content">
                  {{ selectedItem.stock_symbol }}
                </p>
                <p class="ig-typography__caption text">
                  ∙
                </p>
                <p class="ig-typography__overline content">
                  {{ selectedItem.stock_market }}
                </p>
              </div>
              <h5 class="content">
                {{ selectedItem.stock_name }}
              </h5>
            </div>
          </div>
        </div>
        <div class="column-layout frame-28">
          <igx-grid [data]="companyNewsDataNewsFeed" primaryKey="Id" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" width="100%" class="grid">
            <igx-column field="Id" dataType="number" header="Id" [hidden]="true" [sortable]="true" [selectable]="false"></igx-column>
            <igx-column field="Headline" dataType="string" header="Headline" width="600px" [sortable]="true" [selectable]="false"></igx-column>
            <igx-column field="Ticker" dataType="string" header="Ticker" [sortable]="true" [selectable]="false"></igx-column>
          </igx-grid>
        </div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>assessment</igx-icon>
      <span igxTabHeaderLabel>Sector Analysis</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <div *ngIf="selectedItem" class="row-layout group">
        <div class="row-layout group">
          <div class="column-layout frame-45">
            <div class="column-layout frame-50">
              <div class="row-layout frame-49">
                <div class="column-layout frame-48">
                  <div class="column-layout frame-47">
                    <div class="row-layout frame-46">
                      <p class="ig-typography__overline content">
                        {{ selectedItem.stock_symbol}}
                      </p>
                      <p class="ig-typography__caption text">
                        ∙
                      </p>
                      <p class="ig-typography__overline content">
                        {{ selectedItem.stock_market }}
                      </p>
                    </div>
                    <h5 class="content">
                      {{ selectedItem.stock_name }}
                    </h5>
                  </div>
                </div>
              </div>
              <div class="column-layout frame-28">
                <div className="container fill">
              </div>
              <div #revealView style="height: calc(100vh - 220px); width: 100%; position:relative;"></div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>account_balance_wallet</igx-icon>
      <span igxTabHeaderLabel>All Data</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <div class="row-layout group">
        <div class="column-layout frame-45">
          <div class="column-layout frame-28">
            <igx-grid [data]="finTech2500Fins" primaryKey="id" displayDensity="cosy" [rowEditable]="true" [moving]="true" [allowFiltering]="true" filterMode="excelStyleFilter" width="100%"  class="grid">
              <igx-grid-toolbar>
                <igx-grid-toolbar-actions>
                  <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
                  <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
                </igx-grid-toolbar-actions>
                <igx-grid-toolbar-title>All Sector Data</igx-grid-toolbar-title>
              </igx-grid-toolbar>
              <igx-column field="id" dataType="number" header="id" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-paginator [perPage]="500"></igx-paginator>
              <igx-column field="category" dataType="string" header="Category" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="type" dataType="string" header="Type" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="contract" dataType="string" header="Contract" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="settlement" dataType="string" header="Settlement" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="changeP" dataType="number" header="Change %" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false">
                <ng-template igxCell let-val>
                  <div class="currency-badge-container">
                      <igx-badge *ngIf="val>0" type="success" position="bottom-right" icon="arrow_upward" class="badge-left"></igx-badge>
                      <igx-badge *ngIf="val<=0" type="error" position="bottom-right" icon="arrow_downward" class="error badge-left"></igx-badge>
                      <span class="cellAlignSyle" [class.up]="val>50" [class.down]="val<=0">{{ formatNumber(val) }}</span>
                  </div>
              </ng-template>
              <igx-column field="openPrice" dataType="number" header="Open Price" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="price" dataType="number" header="Price" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="change" dataType="number" header="Change" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="country" dataType="string" header="Country" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="region" dataType="string" header="Region" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="LastUpdate" dataType="date" header="Last Update" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>


              </igx-column>
  <!--             <igx-column field="buy" dataType="number" header="Buy" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="sell" dataType="number" header="Sell" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="spread" dataType="number" header="Spread" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="volume" dataType="number" header="Volume" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="highD" dataType="number" header="High D" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="lowD" dataType="number" header="Low D" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="highY" dataType="number" header="High Y" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="lowY" dataType="number" header="Low Y" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="startY" dataType="number" header="Start Y" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indGrou" dataType="string" header="Industry" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indSect" dataType="string" header="Industry Sector" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indSubg" dataType="string" header="Industry Sub Group" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="secType" dataType="string" header="Security Type" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="issuerN" dataType="string" header="Issuer" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="moodys" dataType="string" header="Moody's" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="fitch" dataType="string" header="Fitch" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="dbrs" dataType="string" header="dbrs" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="collatT" dataType="string" header="Collateral" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="curncy" dataType="string" header="Currency" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="security" dataType="string" header="security" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="sector" dataType="string" header="Sector" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="cusip" dataType="string" header="CUSIP" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="cpn" dataType="string" header="CPN" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="maturity" dataType="string" header="Maturity" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
 -->                <igx-action-strip>
                <igx-grid-pinning-actions></igx-grid-pinning-actions>
                <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
              </igx-action-strip>
            </igx-grid>
          </div>
        </div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
</igx-tabs>
