:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.tabs {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.tab-item {
  min-width: 100%;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 100%;
  min-height: 50px;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.frame-45 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  position: relative;
  margin: 15px;
  padding: 15px;
  flex-grow: 1;
  flex-basis: 0;
}
.frame-50 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  position: relative;
  width: 100%;
  height: 100%;
}
.frame-49 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  gap: 24px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame-48 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  flex-grow: 1;
  flex-basis: 0px;
}
.frame-47 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
}
.frame-46 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 4px;
  position: relative;
}
.frame-41 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
  position: relative;
}
.frame-43 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.frame-42 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 4px;
  position: relative;
}
.frame-39 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0;
}
.frame-38 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0px;
}
.frame-37 {
  border-color: rgba(255, 255, 255, 0.10000000149011612);
  border-width: 1px;
  border-style: solid;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 10px 16px;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0px;
}
.frame-28 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0px;
}
.tab-item-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  height: 100%;
  min-width: 100%;
  min-height: 50px;
}
.content {
  color: #FFFFFFFF;
  position: relative;
}
.text {
  color: #FFFFFFB2;
  position: relative;
}
.subtitle-30 {
  color: hsla(var(--ig-gray-400));
  position: relative;
}
.subtitle-31 {
  text-align: center;
  color: #FFFFFFFF;
  position: relative;
}
.category-chart-1 {
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0px;
}
.category-chart {
  position: relative;
  min-height: 350px;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0px;
}
.grid {
  min-width: 600px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
