<igx-tabs [disableAnimation]="true" class="tabs">
  <igx-tab-item [selected]="true" class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>settings_input_antenna</igx-icon>
      <span igxTabHeaderLabel>Current Data</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <div class="column-layout frame-22">
        <div class="row-layout frame-21">
          <div class="column-layout frame-9">
            <div class="column-layout frame-5">
              <div class="row-layout frame-4">
                <p class="ig-typography__overline content">
                  AMZN
                </p>
                <p class="ig-typography__caption text">
                  ∙
                </p>
                <p class="ig-typography__overline content">
                  NASDAQ
                </p>
              </div>
              <h5 class="content">
                Amazon.com, Inc.
              </h5>
            </div>
            <div class="row-layout frame-3">
              <h3 class="content">
                106.96
              </h3>
              <div class="row-layout frame-2">
                <h6 class="content_2">
                  +3.15
                </h6>
                <h6 class="content_2">
                  (+ 3.03%)
                </h6>
              </div>
            </div>
            <div class="column-layout frame-5">
              <div class="row-layout frame-6">
                <p class="content">
                  After Hours:
                </p>
                <p class="ig-typography__subtitle-1 content">
                  $107.15
                </p>
                <p class="ig-typography__subtitle-1 content_2">
                  (+ 0.21%)
                </p>
                <p class="ig-typography__subtitle-1 content_2">
                  +0.22
                </p>
              </div>
              <div class="row-layout frame-7">
                <p class="ig-typography__body-2 content">
                  Closed:
                </p>
                <p class="ig-typography__body-2 content">
                  Apr 21, 6:19:43 PM UTC-4
                </p>
                <p class="ig-typography__caption content">
                  ∙
                </p>
                <p class="ig-typography__body-2 content">
                  NASDAQ
                </p>
                <p class="ig-typography__body-2 content">
                  ∙
                </p>
                <a href="url" target="_blank" class="ig-typography__body-1 hyperlink">
                  Disclaimer
                </a>
              </div>
            </div>
          </div>
          <div class="row-layout frame-20">
            <div class="column-layout frame-19">
              <div class="row-layout frame-16">
                <p class="ig-typography__caption subtitle-11">
                  PREVIOUS CLOSE
                </p>
                <p class="ig-typography__caption subtitle-10">
                  $103.81
                </p>
              </div>
              <div class="row-layout frame-16">
                <p class="ig-typography__caption subtitle-11">
                  DAY RANGE
                </p>
                <p class="ig-typography__caption subtitle-10">
                  $103.81
                </p>
              </div>
              <div class="row-layout frame-16">
                <p class="ig-typography__caption subtitle-11">
                  YEAR RANGE
                </p>
                <p class="ig-typography__caption subtitle-10">
                  $103.81
                </p>
              </div>
              <div class="row-layout frame-16">
                <p class="ig-typography__caption subtitle-11">
                  MARKET CAP
                </p>
                <p class="ig-typography__caption subtitle-10">
                  $103.81
                </p>
              </div>
            </div>
            <div class="column-layout frame-19">
              <div class="row-layout frame-16">
                <p class="ig-typography__caption subtitle-11">
                  AVG VOLUME
                </p>
                <p class="ig-typography__caption subtitle-10">
                  $103.81
                </p>
              </div>
              <div class="row-layout frame-16">
                <p class="ig-typography__caption subtitle-11">
                  P/E RATIO
                </p>
                <p class="ig-typography__caption subtitle-10">
                  $103.81
                </p>
              </div>
              <div class="row-layout frame-16">
                <p class="ig-typography__caption subtitle-11">
                  DIVIDEND YIELD
                </p>
                <p class="ig-typography__caption subtitle-10">
                  $103.81
                </p>
              </div>
              <div class="row-layout frame-16">
                <p class="ig-typography__caption subtitle-11">
                  PRIMARY EXCHANGE
                </p>
                <p class="ig-typography__caption subtitle-10">
                  NASDAQ
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column-layout frame-1">
          <igx-category-chart [dataSource]="financialBoxOfficeRevenue" chartType="line" computedPlotAreaMarginMode="series" class="category-chart"></igx-category-chart>
        </div>
        <div class="row-layout frame"></div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>info</igx-icon>
      <span igxTabHeaderLabel>News &amp; Info</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <div class="row-layout group">
        <div class="column-layout frame-22">
          <div class="column-layout frame-1">
            <igx-grid [data]="companyNewsDataNewsFeed" primaryKey="Id" displayDensity="cosy" [moving]="true" [allowFiltering]="true" filterMode="excelStyleFilter" width="100%" class="grid">
              <igx-grid-toolbar>
                <igx-grid-toolbar-actions>
                  <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
                </igx-grid-toolbar-actions>
                <igx-grid-toolbar-title>Grid Toolbar</igx-grid-toolbar-title>
              </igx-grid-toolbar>
              <igx-column field="Id" dataType="number" header="Id" [hidden]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="Headline" dataType="string" header="Headline" width="749px" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="Ticker" dataType="string" header="Ticker" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
            </igx-grid>
          </div>
          <div class="row-layout frame"></div>
        </div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>assessment</igx-icon>
      <span igxTabHeaderLabel>Sector Analyis</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <div class="row-layout group">
        <div class="column-layout frame-22">
          <div class="column-layout frame-1">
            <igx-category-chart [dataSource]="financialBoxOfficeRevenue" computedPlotAreaMarginMode="series" class="category-chart_1"></igx-category-chart>
          </div>
          <div class="row-layout frame"></div>
        </div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>account_balance_wallet</igx-icon>
      <span igxTabHeaderLabel>All Data</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <div class="row-layout group">
        <div class="column-layout frame-22">
          <div class="column-layout frame-1">
            <igx-grid [data]="finTech2500Fins" primaryKey="id" displayDensity="cosy" [rowEditable]="true" [moving]="true" [allowFiltering]="true" filterMode="excelStyleFilter" width="100%" class="grid">
              <igx-grid-toolbar>
                <igx-grid-toolbar-actions>
                  <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                  <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                  <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
                  <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
                </igx-grid-toolbar-actions>
                <igx-grid-toolbar-title>Grid Toolbar</igx-grid-toolbar-title>
              </igx-grid-toolbar>
              <igx-column field="id" dataType="number" header="id" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-paginator [perPage]="500"></igx-paginator>
              <igx-column field="category" dataType="string" header="category" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="type" dataType="string" header="type" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="contract" dataType="string" header="contract" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="settlement" dataType="string" header="settlement" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="country" dataType="string" header="country" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="region" dataType="string" header="region" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="LastUpdate" dataType="date" header="LastUpdate" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="openPrice" dataType="number" header="openPrice" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="price" dataType="number" header="price" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="change" dataType="number" header="change" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="changeP" dataType="number" header="changeP" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="buy" dataType="number" header="buy" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="sell" dataType="number" header="sell" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="spread" dataType="number" header="spread" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="volume" dataType="number" header="volume" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="highD" dataType="number" header="highD" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="lowD" dataType="number" header="lowD" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="highY" dataType="number" header="highY" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="lowY" dataType="number" header="lowY" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="startY" dataType="number" header="startY" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indGrou" dataType="string" header="indGrou" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indSect" dataType="string" header="indSect" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indSubg" dataType="string" header="indSubg" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="secType" dataType="string" header="secType" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="issuerN" dataType="string" header="issuerN" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="moodys" dataType="string" header="moodys" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="fitch" dataType="string" header="fitch" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="dbrs" dataType="string" header="dbrs" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="collatT" dataType="string" header="collatT" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="curncy" dataType="string" header="curncy" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="security" dataType="string" header="security" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="sector" dataType="string" header="sector" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="cusip" dataType="string" header="cusip" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="ticker" dataType="string" header="ticker" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="cpn" dataType="string" header="cpn" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="maturity" dataType="string" header="maturity" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="krD_3YR" dataType="number" header="krD_3YR" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="zV_SPREAD" dataType="number" header="zV_SPREAD" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="kRD_5YR" dataType="number" header="kRD_5YR" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="kRD_1YR" dataType="number" header="kRD_1YR" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indGrou2" dataType="string" header="indGrou2" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indSect3" dataType="string" header="indSect3" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indSubg4" dataType="string" header="indSubg4" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="secType5" dataType="string" header="secType5" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="issuerN6" dataType="string" header="issuerN6" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="moodys7" dataType="string" header="moodys7" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="fitch8" dataType="string" header="fitch8" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="dbrs9" dataType="string" header="dbrs9" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="collatT10" dataType="string" header="collatT10" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-action-strip>
                <igx-grid-pinning-actions></igx-grid-pinning-actions>
                <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
              </igx-action-strip>
            </igx-grid>
          </div>
          <div class="row-layout frame"></div>
        </div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
</igx-tabs>
