<igx-tabs [disableAnimation]="true" class="tabs">
  <igx-tab-item [selected]="true" class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>settings_input_antenna</igx-icon>
      <span igxTabHeaderLabel>Current Price</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <div class="row-layout group">
        <div class="column-layout frame-45">
          <div class="column-layout frame-50">
            <div class="row-layout frame-49">
              <div class="column-layout frame-48">
                <div class="column-layout frame-47">
                  <div class="row-layout frame-46">
                    <p class="ig-typography__overline content">
                      --ticker--
                    </p>
                    <p class="ig-typography__caption text">
                      ∙
                    </p>
                    <p class="ig-typography__overline content">
                      --exchange--
                    </p>
                  </div>
                  <h5 class="content">
                    --stock-company--name
                  </h5>
                </div>
                <div class="row-layout frame-41">
                  <h3 class="content">
                    --prev close--
                  </h3>
                </div>
                <div class="column-layout frame-47">
                  <div class="row-layout frame-43">
                    <p class="content">
                      Sector
                    </p>
                    <p class="ig-typography__subtitle-1 content">
                      --sector--
                    </p>
                  </div>
                  <div class="row-layout frame-42">
                    <p class="ig-typography__body-2 content">
                      Industry
                    </p>
                    <p class="ig-typography__caption content">
                      ∙
                    </p>
                    <p class="ig-typography__body-2 content">
                      --industry--
                    </p>
                    <p class="ig-typography__body-2 content">
                      ∙
                    </p>
                  </div>
                </div>
              </div>
              <div class="row-layout frame-39">
                <div class="column-layout frame-38">
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      PREVIOUS CLOSE
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      --prev close--
                    </p>
                  </div>
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      DAY RANGE
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      --day range--
                    </p>
                  </div>
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      YEAR RANGE
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      --year range--
                    </p>
                  </div>
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      MARKET CAP
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      --market cap
                    </p>
                  </div>
                </div>
                <div class="column-layout frame-38">
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      AVG VOLUME
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      --avg volume--
                    </p>
                  </div>
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      P/E RATIO
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      --pe ratio--
                    </p>
                  </div>
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      DIVIDEND YIELD
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      --dividend
                    </p>
                  </div>
                  <div class="row-layout frame-37">
                    <p class="ig-typography__caption subtitle-30">
                      PRIMARY EXCHANGE
                    </p>
                    <p class="ig-typography__caption subtitle-31">
                      --exchange--
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="column-layout frame-28">
              <igx-category-chart [dataSource]="fakeStockDataStockData" chartType="area" includedProperties="Month,Open,High,Low,Close" computedPlotAreaMarginMode="series" class="category-chart-1"></igx-category-chart>
            </div>
          </div>
        </div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>assignment_late</igx-icon>
      <span igxTabHeaderLabel>Latest News</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <div class="column-layout frame-45">
        <div class="row-layout frame-49">
          <div class="column-layout frame-48">
            <div class="column-layout frame-47">
              <div class="row-layout frame-46">
                <p class="ig-typography__overline content">
                  --ticker--
                </p>
                <p class="ig-typography__caption text">
                  ∙
                </p>
                <p class="ig-typography__overline content">
                  --exchange--
                </p>
              </div>
              <h5 class="content">
                --stock-company--name
              </h5>
            </div>
          </div>
        </div>
        <div class="column-layout frame-28">
          <igx-grid [data]="companyNewsDataNewsFeed" primaryKey="Id" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" width="100%" class="grid">
            <igx-column field="Id" dataType="number" header="Id" [hidden]="true" [sortable]="true" [selectable]="false"></igx-column>
            <igx-column field="Headline" dataType="string" header="Headline" width="797px" [sortable]="true" [selectable]="false"></igx-column>
            <igx-column field="Ticker" dataType="string" header="Ticker" [sortable]="true" [selectable]="false"></igx-column>
          </igx-grid>
        </div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>assessment</igx-icon>
      <span igxTabHeaderLabel>Sector Analyis</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <div class="row-layout group">
        <div class="row-layout group">
          <div class="column-layout frame-45">
            <div class="column-layout frame-50">
              <div class="row-layout frame-49">
                <div class="column-layout frame-48">
                  <div class="column-layout frame-47">
                    <div class="row-layout frame-46">
                      <p class="ig-typography__overline content">
                        --ticker--
                      </p>
                      <p class="ig-typography__caption text">
                        ∙
                      </p>
                      <p class="ig-typography__overline content">
                        --exchange--
                      </p>
                    </div>
                    <h5 class="content">
                      --stock-company--name
                    </h5>
                  </div>
                </div>
              </div>
              <div class="column-layout frame-28">
                <igx-category-chart [dataSource]="fakePendingOrdersPendingOrders" chartType="line" [xAxisLabelAngle]="30" includedProperties="TimeandDate,Quantity,Price" computedPlotAreaMarginMode="series" class="category-chart"></igx-category-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>account_balance_wallet</igx-icon>
      <span igxTabHeaderLabel>All Data</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <div class="row-layout group">
        <div class="column-layout frame-45">
          <div class="column-layout frame-28">
            <igx-grid [data]="finTech2500Fins" primaryKey="id" displayDensity="cosy" [rowEditable]="true" [moving]="true" [allowFiltering]="true" filterMode="excelStyleFilter" width="100%" class="grid">
              <igx-grid-toolbar>
                <igx-grid-toolbar-actions>
                  <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
                  <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
                </igx-grid-toolbar-actions>
                <igx-grid-toolbar-title>All Sector Data</igx-grid-toolbar-title>
              </igx-grid-toolbar>
              <igx-column field="id" dataType="number" header="id" [hidden]="true" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-paginator [perPage]="500"></igx-paginator>
              <igx-column field="category" dataType="string" header="Category" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="type" dataType="string" header="Type" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="contract" dataType="string" header="Contract" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="settlement" dataType="string" header="Settlement" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="country" dataType="string" header="Country" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="region" dataType="string" header="Region" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="LastUpdate" dataType="date" header="Last Update" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="openPrice" dataType="number" header="Open Price" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="price" dataType="number" header="Price" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="change" dataType="number" header="Change" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="changeP" dataType="number" header="Change %" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="buy" dataType="number" header="Buy" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="sell" dataType="number" header="Sell" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="spread" dataType="number" header="Spread" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="volume" dataType="number" header="Volume" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="highD" dataType="number" header="High D" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="lowD" dataType="number" header="Low D" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="highY" dataType="number" header="High Y" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="lowY" dataType="number" header="Low Y" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="startY" dataType="number" header="Start Y" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indGrou" dataType="string" header="Industry" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indSect" dataType="string" header="Industry Sector" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indSubg" dataType="string" header="Industry Sub Group" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="secType" dataType="string" header="Security Type" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="issuerN" dataType="string" header="Issuer" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="moodys" dataType="string" header="Moody's" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="fitch" dataType="string" header="fitch" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="dbrs" dataType="string" header="dbrs" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="collatT" dataType="string" header="collatT" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="curncy" dataType="string" header="curncy" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="security" dataType="string" header="security" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="sector" dataType="string" header="sector" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="cusip" dataType="string" header="cusip" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="ticker" dataType="string" header="ticker" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="cpn" dataType="string" header="cpn" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="maturity" dataType="string" header="maturity" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="krD_3YR" dataType="number" header="krD_3YR" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="zV_SPREAD" dataType="number" header="zV_SPREAD" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="kRD_5YR" dataType="number" header="kRD_5YR" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="kRD_1YR" dataType="number" header="kRD_1YR" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indGrou2" dataType="string" header="indGrou2" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indSect3" dataType="string" header="indSect3" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="indSubg4" dataType="string" header="indSubg4" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="secType5" dataType="string" header="secType5" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="issuerN6" dataType="string" header="issuerN6" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="moodys7" dataType="string" header="moodys7" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="fitch8" dataType="string" header="fitch8" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="dbrs9" dataType="string" header="dbrs9" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-column field="collatT10" dataType="string" header="collatT10" [groupable]="true" [sortable]="true" [resizable]="true" [selectable]="false"></igx-column>
              <igx-action-strip>
                <igx-grid-pinning-actions></igx-grid-pinning-actions>
                <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
              </igx-action-strip>
            </igx-grid>
          </div>
        </div>
      </div>
    </igx-tab-content>
  </igx-tab-item>
</igx-tabs>
